Django>=5.2,<6.0
pydantic>=2.9,<3.0
pandas>=2.2,<3.0
python-statemachine>=2.4,<3.0
psycopg[binary]>=3.2,<4.0
gunicorn>=23.0,<24.0
scikit-learn>=1.5,<2.0
Unidecode>=1.3,<2.0
pycountry>=24.6
schwifty>=2024.11
python-dateutil>=2.9,<3.0
